<html>


  <head>
    <title>help page</title>
  </head>


  <body>
    <p> hello this is prince and i am gonna rock on this page.</p>

    <footer>
      <p>copyright {{newYear}} </p>
    </footer>
  </body>
</html>
